<% layout("layouts/boilerplate.ejs") %>

  <body>
    <h1> List of all banks </h1>
    <form action="/banks">
      <button class="btn btn-primary"> Click here to get all unique bank names</button>
    </form>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
      <% for(Bank of allBanks) { %>

        <div class="card text-center">
          <div class="card-header">
            Bank Name
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= Bank.bank_name %>
            </h5>

            <a href="/banks/<%= Bank._id %>" class="btn btn-primary">Click here to get branch related details</a>
          </div>
        </div>

        <% } %>
    </div>
  </body>